actdiag
blockdiag
nwdiag
oslosphinx
pbr>=0.6,!=0.7,<1.0
seqdiag
sphinx>=1.1.2,<1.2
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
testrepository>=0.0.18
testtools>=0.9.34
yasfb>=0.5.1
