# NOTE(armax): requirements to the specs repo is kept out of sync
# with g-r on purpose, as g-r is just for projects affecting the
# integrated gate. Any sync must happen manually as recommended by
# the openstack release team.
actdiag
blockdiag
nwdiag
oslosphinx>=4.7.0 # Apache-2.0
pbr>=2.0.0,!=2.1.0 # Apache-2.0
seqdiag
sphinx>=1.5.1,!=1.6.1  # BSD
sphinxcontrib-actdiag
sphinxcontrib-blockdiag # BSD
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag # BSD
testrepository>=0.0.18 # Apache-2.0/BSD
testtools>=1.4.0 # MIT
yasfb>=0.5.1
