# NOTE(armax): requirements to the specs repo is kept out of sync
# with g-r on purpose, as g-r is just for projects affecting the
# integrated gate. Any sync must happen manually as recommended by
# the openstack release team.
sphinx>=2.2.0 # BSD
openstackdocstheme>=2.2.1 # Apache-2.0
yasfb>=0.5.1
